<div id="content"  class="row">
	<div class="col-xs-12" id="filterBar">
		<h3>Select a Lot</h3>
		<form ng-init="criteria = Lot">
			<label>Filter Spot by: </label>
				<label class="radio-inline"><input ng-model="criteria" type="radio" name="optradio" value="Lot">Lot Number</label>
				<label class="radio-inline"><input ng-model="criteria" type="radio" name="optradio" value="Campus">Campus</label>
				<label class="radio-inline"><input ng-model="criteria" type="radio" name="optradio" value="Spots != 0">Spots Free</label>
				<label class="radio-inline"><input ng-model="criteria" type="radio" name="optradio" value="Open == 'false' ">Open</label>
		</form>
		<br>
		<br>
		<div class="" ng-repeat="x in lots | orderBy: criteria">
			<button type="button" class="btn btn-sqr btn-sm col-xs-12" ng-class="{true:'btn-success', false:'btn-danger'}[x.Open]">
				<h2>LOT-{{ x.Lot }}</h2>
				<h3>{{ x.Type }}</h3>
				<h3>{{ x.Campus }}</h3>
				<h3>{{ x.Spots }}/{{ x.Total }}</h3>
			</button>
		</div>
	</div>
</div>
