<div id="content" class="row">
	<div class="col-xs-12">
		<h3>Select a Spot</h3>
		<form ng-init="criteria = Spot">
			<label>Filter Spot by: </label>
				<label class="radio-inline"><input ng-model="criteria" type="radio" name="optradio" value="Spot">Number</label>
				<label class="radio-inline"><input ng-model="criteria" type="radio" name="optradio" value="Open == 'false' ">Vacant</label>
				<label class="radio-inline"><input ng-model="criteria" type="radio" name="optradio" value="Type">Permit</label>
		</form>
		<div class="row">
			<div class="" ng-repeat="x in spots | orderBy: criteria ">
				<a href="" type="button" class="btn btn-sqr btn-xs col-xs-12" ng-model="status" ng-click="status.Spot = x.Spot"
					 ng-class="{true:'btn-success', false:'btn-danger'}[x.Open]">
					<h2>LOT{{ x.Lot }}-{{ x.Spot }}</h4>
					<h4>Permit: {{ x.Type }}</h4>
					<h4 ng-show="x.Open=='true'">Vacant: Yes</h4>
					<h4 ng-show="x.Open=='false'">Vacant: No</h4> 
				</a>
			</div>
		</div>
	</div>
</div>
