/* Start of Navigation bar 
=====================================================
======================================================
*/
.side-container{

}

/* All scroll bars for the current side-container */
.side-container::-webkit-scrollbar {
	width: 0em;
	border-radius: 5px;
}
/* Set side bar scroll */
.sidebar::-webkit-scrollbar {
	width: 0em;
	border-radius: 5px;
}
/* Navigation link scroll bar*/
.sidenav::-webkit-scrollbar {
	width: 0em;
	border-radius: 5px;
}


/* Scroll bars for body and navigation */
body::-webkit-scrollbar {
	width: .5em;
	border-radius: 5px;
}
 
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
	background-color: slategray;
	outline: 0px solid slategrey;
}

/* Collapsable side nav toggled by constant navbar */
.sidenav {
	height: 100%;
	width: 0px;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	text-align:center;
}
.sidenav-skin{
	background-color: #1c1c1c;
}
.sidenav a {
	padding: 8px 8px 8p 8px;
	text-decoration: none;
	font-size: 24px;
	color: #818181;
	display: block;
	transition: 0.3s
}
.sidenav a:hover{
	background-color: #0c0c0c;
}

.sidenav a:hover{
	color: #f1f1f1;
}
.sidenav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

.sidebar-btn {
	font-size: 36px !important;
}

/* Constant Sidebar navigation */
.sidebar {
	height: 100%;
	width: 50px;
	background-color: #2c2c2c;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	text-align: center;
}
.sidebar a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 28px;
	color: #818181;
	display: block;
	transition: 0.4s
}
.sidebar a:hover{
	background-color: #0c0c0c;
}

.sidebar a:hover{
	color: #f1f1f1;
}

.sidebar a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

.sidebar-btn {
	font-size: 36px !important;
}
/* END of Navbar
==========================================
==========================================
*/

hr {
	border-top: 1px solid #818181;
}
body{
	margin-left: 50px;
	background: #0c0c0c;
	color: white;
	height: 100%;
	overflow-x: hidden;
}

.header{
	font-weight: 780;
}
.page-title{
	font-size: 30px;
	color: #818181;
}

.btn-sqr{
	border-radius: 0px !important;
}
.btn-fat{
	padding: 2em;
}

.resultDisplay{
	margin-bottom: 20px;
}

#resultDisplay{
	height: inherit;
	width: inherit;
	position: fixed;
	top: inherit;
	right: inherit;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 20px;
}

#content{
	margin-left: none;
}


@media only screen and (max-width: 480px){
	.page-header{
		font-weight: 900;
		font-size: 4em;
	}
}

@media only screen and (min-width: 480px) and (max-width: 768px){
	.page-header{
		font-weight: 900;
		font-size: 5em;
	}
}

@media only screen and (min-width: 768px){
	.page-header{
		font-weight: 900;
		font-size: 6em;
	}
}

